<div id="landing">
    <div id = "leftHalf">
        <div id="activityStat"><a name="common"></a>

        </div>
        
        <button id="displayStats"> Display latest Statistics</button> 
        
        <div id="register_activity" class="landing form section">
            <form id="actForm">
                <label for="distance"></label>
                <input id="distance" type="text" name="distance" placeholder="Distance (m)" value="">
                
                <label for="date"></label>
                <input type="text" id="datepicker" name="date" placeholder=<%= Time.now.strftime("%m/%d/%Y") %>>
                
                <label for="duration"></label>
                <input type="text" id="duration" name="duration" placeholder="Run duration (ex. 4m 30s or 37.5s)">

                <label for="comment"></label>
                <input id="comment" type="text" name="comment" placeholder="Comments (optional)" value="">
            </form>
                <button id="registerRun"> Brag about your running activity</button> 
        </div>
        <div id="registerResult">
        </div>
    </div>
  
    <div id="rightHalf">
        <div id="activityList"><a name="common"></a>
            <% if !@activities.blank? %>
            <div id="wrapper">
                <div id="columns">
                    <% @activities.each do |activity| %> 
                        <div class="pin">
                            <p>
                                <%= activity.distance %> m in <%= ChronicDuration.output(activity.duration, :format => :long) %>
                            </p>
                            <p>
                                <%= activity.comment %> 
                            </p>
                            <p>
                                | <%= activity.date.strftime("%B %d, %Y") %>
                            </p>
                        </div>
                    <% end %>
                </div>
            </div>
            <% else %>
            <div id="wrapper">
                <div id="columns">
                    <div class="pin">
                        <p>
                            There are no activities yet, be the first!
                        </p>
                    </div>
                </div>
            </div>
            <% end %>
    
        </div>
    </div>
</div>
<script type ="text/javascript">
    $(document).ready(function(){
        $("#displayStats").trigger("click");
    });
    $(function() {
        $("#datepicker").datepicker();
    });
    //Action performed when Brag about your running activity button is clicked.
    $('#registerRun').click(function() {
        var valuesToSubmit = $("#actForm").serialize();
        //AJAX call that either notifies user of succes or failure of assing an activity
        $.ajax({
            url: "/activities", 
            type: "POST", 
            data: valuesToSubmit
        }).success(function(){
            //The activity was added.
                notify('Awesome run!', 'success');                         
        }).fail(function(json){
                notify('Something went wrong with your request, please try again!', 'error');                         
            });
    });

    //Action performed when Get Latest Activities and Statistics  button is clicked.
    $('#displayStats').click(function() {
        $.ajax({
            url: "/activities/statistics", 
            type: "GET", 
        }).success(function(data){
            //There exist activities.
        $('#activityStat').html(data);
        }).fail(function(json){
            });
    });
</script>
